.main-header {
    display: block;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
}

.main-header__logo {
    display: inline-block;
    margin-top: 15px;
}

.sub-header {
    display: block;
    width: 100%;
    background-color: #2a2a2a;
}

.sub-header__items {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #232222;
    font-size: 14px;
    color: #787878;
    .sub-header__items_line {
        display: block;
        height: 20px;
        border-left: 1px solid #2a2a2a;
    }
}

.sub-header__email {
    text-decoration: underline;
}

.sub-header__phone {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #cbc9c9;
    a {
        display: inline-block;
        margin-left: 20px;
        font-size: 14px;
        text-decoration: underline;
        text-transform: none;
        color: #cbc9c9;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #42d6ff;
        }
    }
}

.main-footer {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
}

.main-footer__nav {
    display: block;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #797979;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.main-footer__creators {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #777777;
    a {
        text-decoration: underline;
        color: #af2f38;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #42d6ff;
        }
    }
}

.main-slider {
    display: block;
    p {
        font-size: 14px;
        color: #000000;
    }
}

.main-slider__features {
    display: block;
    font-size: 30px;
    color: #010101;
}

.main-slider__links {
    display: block;
    a {
        display: block;
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 14px;
        overflow: hidden;
        color: #000000;
        transition: all 0.2s ease-out;
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #42d6ff;
            outline: none;
            .main-slider__links_icons {
                background-color: #42d6ff;
            }
        }
    }
}

.main-slider__links_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin-top: -7px;
    padding: 9px 9px;
    background-color: transparent;
    border: 1px solid #42d6ff;
    border-radius: 50%;
    img {
        width: 16px;
        height: 16px;
    }
}

.main-slider__title {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    color: #010101;
}

.main-slider__button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    border-radius: 3px;
    background-color: #42d6ff;
    font-size: 14px;
    color: #010101;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}

.section__scroll {
    display: block;
    position: absolute;
    left: 47%;
    bottom: 5%;
    z-index: 90;
}

.about-slider {
    display: block;
    span {
        display: block;
        margin-bottom: 20px;
        font-size: 30px;
        color: #343434;
    }
    p {
        font-size: 14px;
        color: #595959;
    }
}

.about-slider__companies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    img {
        margin-top: 50px;
        display: inline-block;
    }
}

.article-slider {
    display: block;
    font-size: 14px;
    color: #595959;
    p {
        font-size: 14px;
        color: #595959;
    }
}

.article-slider__title {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #595959;
}

.contact-slider {
    display: block;
    text-align: center;
}

.contact-slider__title {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.contact-slider__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.contact-slider__text {
    display: block;
    font-size: 18px;
    color: #000000;
}

.contact-slider__link {
    display: block;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
}

.contact-slider__form {
    margin-top: 30px;
    margin-bottom: 100px;
    span {
        display: block;
        margin-bottom: 15px;
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        color: #000000;
    }
    input {
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px 24px;
        background-color: transparent;
        border: 1px solid #42d6ff;
        border-radius: 3px;
        outline: none;
        font-size: 18px;
        letter-spacing: 1px;
        color: #000000;
        transition: all 0.2s ease-out;
        &:hover {
            border-color: #777777;
        }
        &:focus,
        &:active {
            border-color: #000000;
        }
        &::-webkit-input-placeholder {
            color: #000000;
        }
        &::-moz-placeholder {
            color: #000000;
        }
    }
    a {
        display: inline-block;
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px 24px;
        background-color: #42d6ff;
        border-radius: 3px;
        font-size: 18px;
        letter-spacing: 1px;
        color: #000000;
        transition: all 0.2s ease-out;
        &:hover {
            background-color: #000000;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.features {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}

.features-content {
    display: block;
}

.features__links {
    margin-top: 70px;
}

.features-content__breadcrump {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #646464;
    a {
        text-decoration: underline;
        color: #646464;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #42d6ff;
        }
    }
    span {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        color: #42d6ff;
    }
}

.features-content__title {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    color: #010101;
}

.features__card {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    img {
        width: 100%;
        height: 170px;
        object-fit: contain;
    }
    span {
        display: block;
        margin-bottom: 15px;
        font-size: 24px;
        color: #010101;
    }
    p {
        font-size: 14px;
        line-height: 1.75;
        color: #5e5c5c;
    }
    a {
        display: inline-block;
        margin-top: 10px;
        padding: 12px 28px;
        background-color: #42d6ff;
        border: 2px solid #42d6ff;
        border-radius: 3px;
        font-size: 14px;
        color: #000000;
        transition: all 0.2s ease-out;
        &:hover {
            background-color: transparent;
            color: #42d6ff;
            text-decoration: none;
        }
    }
    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    }
}

.features__card:last-child {
    margin-bottom: 50px;
}

.about {
    background-image: url('../images/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.about__text {
    display: block;
    margin-bottom: 50px;
    font-size: 14px;
    color: #595959;
}

.article-slider_title_2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

#slide-up {
    display: block;
    position: fixed;
    right: 25px;
    top: 40%;
    z-index: 101;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        transform: scale(1.3);
    }
}

#slide-down {
    display: block;
    position: fixed;
    right: 25px;
    top: 57%;
    z-index: 101;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
        transform: scale(1.3);
    }
}

.main-slider__links a {
    display: flex;
    align-items: center;
    overflow: visible !important;
}

.main-slider__links_text {
    display: inline-block;
    margin-top: -15px;
    .about-slider {
        display: inline-block;
        margin: 0;
    }
}

.side-nav__drop {
    margin-top: -20px;
    list-style: square;
    li {
        a {
            display: inline-block;
            margin: 5px;
            padding: 5px;
            color: #777777;
        }
    }
}


.main-header_last {
    padding-right: 0 !important;
}