/* Backgrounds will cover all the section
	* --------------------------------------- */

.section {
  background-size: cover;
}

.slide {
  background-size: cover;
}


/* Defining each sectino background and styles
	* --------------------------------------- */

#section0 {
  background-image: url('../images/slide1.jpg');
  background-position: left;
  background-size: cover;
  overflow: hidden;
}

#section1 {
  background-image: url('../images/slide2.jpg');
  background-position: left;
  background-size: cover;
  overflow: hidden;
}

#section2 {
  background-image: url('../images/slide3.jpg');
  background-position: left;
  background-size: cover;
  overflow: hidden;
}

#section3 {
  background-image: url('../images/slide4.jpg');
  background-position: left;
  background-size: cover;
  overflow: hidden;
}


/* Fixed header and footer.
	* --------------------------------------- */

#header {
  display: block;
  /*position: fixed;*/
  width: 100%;
  margin-bottom: 80px;
  z-index: 999;
  top: 0px;
}


/* ----------------------------------------- */

#section0 {
  display: block;
  padding-top: 0;
  min-height: 100vh;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  min-height: 100vh;
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
}

#section3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.section {
  text-align: left;
}

.carousel {
  img {
    width: 100%;
    height: auto;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  padding-top: 0;
  text-align: left;
  text-shadow: none;
}

.navbar-nav>li>a {
  padding: 50px 20px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  line-height: auto;
  transition: all 0.2s ease-in;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: #42d6ff;
  }
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #42d6ff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #000000;
  border: 2px solid #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-toggle {
  float: none;
  margin: 0;
  padding: 0;
  img {
    margin: 5px auto 5px auto;
  }
}

.carousel-caption {
  color: #000000;
}

.slick-prev,
.slick-next {
  display: inline-block !important;
  margin-top: 15px;
  width: 30px;
  height: 30px;
  right: auto !important;
  left: auto !important;
  position: relative;
  background-color: transparent !important;
  color: #42d6ff !important;
}

.main-slider__links {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: transparent;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  z-index: 99 !important;
}

.header_other {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

ul.nav li.dropdown:hover>ul.dropdown-menu {
  display: block;
}

.main-slider__links_home {
  a {
    font-size: 17px !important;
  }
}