@media (max-width: 1200px) {
  #header {
    margin-bottom: 20px !important;
  }
  .contact-slider__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .contact-slider__image {
    margin-bottom: 10px;
  }
  .contact-slider__text {
    font-size: 14px;
  }
  .contact-slider__link {
    padding: 8px;
  }
  .contact-slider__form {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .sub-header__items {
    font-size: 12px;
  }
  .main-header__logo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .navbar-nav>li>a {
    padding: 10px;
  }
  .navbar-right {
    float: none !important;
    text-align: center;
  }
  .navbar-nav>li {
    display: inline-block;
    float: none !important;
    text-align: center;
  }
  .sub-header__items {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .main-slider__links a {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .main-slider__title {
    margin-bottom: 10px;
  }
  .main-slider__button {
    margin-top: 10px;
  }
  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .sub-header {
    display: block;
    .sub-header__items {
      flex-flow: column wrap;
      .sub-header__items_line {
        display: none;
      }
    }
  }
  .dropdown-menu>li>a {
    text-align: center;
  }
  .main-header__logo {
    img {
      width: 100px;
    }
  }
  .navbar-nav>li {
    display: block;
  }
  .main-header {
    text-align: center;
  }
  .main-slider {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-slider__features {
    font-size: 18px;
  }
  .main-slider__title {
    font-size: 18px;
    margin-top: -5px;
  }
  .main-slider p {
    font-size: 12px;
  }
  .main-slider__links a {
    margin-bottom: 35px;
  }
  .features>.container>.row>.col-sm-3 {
    margin-left: 15px;
    margin-right: 15px;
  }
  .about-slider span {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .article-slider__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .article-slider p {
    font-size: 12px;
  }
  .contact-slider__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .contact-slider__image {
    width: 30%;
    margin-bottom: 10px;
  }
  .main-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    ul,
    ol {
      margin-bottom: 5px;
    }
  }
  .main-footer__nav a {
    padding: 5px;
  }
  .contact-slider__text {
    font-size: 12px;
  }
  .contact-slider__link {
    padding: 5px;
  }
  .contact-slider__form {
    margin-top: 10px;
  }
  .main-slider__button {
    margin-top: 5px;
    padding: 6px 8px;
  }
  #section0 {
    padding-bottom: 20px;
  }
  #section1 {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #section2 {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #section3 {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #header {
    margin-bottom: 5px !important;
  }
  .contact-slider__form {
    input {
      width: 80%;
    }
    a {
      width: 80%;
    }
  }
  .features-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section__scroll {
    display: none;
  }
  #section3 {
    .main-footer {
      margin-top: 60px;
    }
  }
  .main-header__logo {
    display: inline-block;
  }
  .navbar-toggle {
    display: inline-block;
    img {
      margin: 0;
      margin-top: -45px;
      margin-left: 50px;
    }
  }
  .main-slider__links_icons {
    padding: 6px;
  }
  .main-slider__links a {
    margin-bottom: 25px;
  }
  .sub-header__email {
    display: none;
  }
  #section0 {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .sub-header_show {
    display: none;
  }
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
  }
}