// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fullpage.js/dist/_jquery.fullpage.scss";
@import "bower_components/animate.css/_animate.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/src/css/_lightbox.scss";
@import "bower_components/slick-carousel/slick/_slick.scss";
@import "bower_components/slick-carousel/slick/_slick-theme.scss";
// endbower
@import "_restyle.scss";
@import "_components.scss";
@import "_responsive.scss";

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

#section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
}